<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/images/tetris.ico" rel="shortcut icon" />
    <link href="/css/admin.css" rel="stylesheet" type="text/css" />
    <!--DataTable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <!--DataTable & JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script type="module" src="/js/admin.js"></script>
    <title>Admin</title>
</head>

<body>
    <div id="header">
        <p>Bienvenido <%= user %>
        </p>
        <form id="logout" action="/logout" method="POST">
            <input id="log-out-button" class="button" type="submit" value="Log out" />
        </form>
    </div>
    <div>
        <div id="user_block">
            <h1 id="register">Add new user</h1>
            <form id="add_user">
                <input class="text" type="text" name="username" placeholder="Username" size="30" required />
                <input class="text" type="email" name="email" placeholder="Email" size="150" required>
                <input class="text" type="text" name="name" placeholder="Name" size="30" required />
                <input class="text" type="text" name="surname" placeholder="Surname" size="40" required />
                <input class="text" type="number" name="age" placeholder="Age" min="1" max="150" required />
                <input class="text" id="pass" type="password" name="pass" placeholder="Password" size="40" required />
                <select class="text" id="institution_selected" name="institution" required>
                    <option value="" disabled selected hidden>Select Institution</option>
                    <% if(institution_list.length){ for(var i=0; i < institution_list.length; i++) { %>
                        <% if(institution_list[i].name !=="admin") {%>
                            <option value="<%= institution_list[i].id %>">
                                <%=institution_list[i].name %>
                            </option>
                            <% } }%>
                                <% } %>
                </select>
                <select class="text" name="study_group_id">
                    <option value="" disabled selected hidden>Select Group</option>
                </select>
                <input type="password" name="pass2" hidden size="40" />
                <input type="text" name="admin" value="true" hidden>
                <input class="button" id="add-user-button" type="submit" value="Add" />
            </form>
            <hr>
            <div class="buttons">
                <button class="button" id="user_delete_button">Delete selected row</button>
                <button class="button" id="user_update_button">Update</button>
            </div>
            <table id="user">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Age</th>
                        <th scope="col">Educational institution</th>
                        <th scope="col">Group</th>
                        <th scope="col">Role</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < user_list.length; i++) { %>
                        <tr>
                            <td>
                                <%= i + 1 %>
                            </td>
                            <td>
                                <% if(user_list[i].role===1) { %>
                                    <%= user_list[i].username %>
                                        <% } else { %>
                                            <input type="text" name="username"
                                                value="<%= user_list[i].username %>" readonly>
                                            <% } %>
                            </td>
                            <td>
                                <%= user_list[i].email %>
                                    <input type="text" name="email" value="<%= user_list[i].email %>" hidden
                                        contenteditable="false">
                            </td>
                            <td>
                                <% if(user_list[i].role===1) { %>
                                    <%= user_list[i].name %>
                                        <% } else { %>
                                            <input type="text" name="name"
                                                value="<%= user_list[i].name %>">
                                            <% } %>
                            </td>
                            <td>
                                <% if(user_list[i].role===1) { %>
                                    <%= user_list[i].surname %>
                                        <% } else { %>
                                            <input type="text" name="surname"
                                                value="<%= user_list[i].surname %>">
                                            <% } %>
                            </td>
                            <td>
                                <% if(user_list[i].role===1) { %>
                                    <%= user_list[i].age %>
                                        <% } else { %>
                                            <input type="number" name="age"
                                                value="<%= user_list[i].age %>" min="1" max="150" />
                                            <% } %>
                            </td>
                            <td>
                                <% if(user_list[i].role===1) { %>
                                    <%= user_list[i].institution %>
                                        <% } else { %>
                                            <select id="institution_selected" name="institution">
                                                <option value="<%= user_list[i].institution_id%>">
                                                    <%= user_list[i].institution%>
                                                </option>
                                                <% if(institution_list.length){ for(let j=0; j <
                                                    institution_list.length; j++) { %>
                                                    <% if(institution_list[j].id !==0) {%>
                                                        <option value="<%= institution_list[j].id %>">
                                                            <%=institution_list[j].name %>
                                                        </option>
                                                        <% } } }%>
                                            </select>
                                            <% } %>
                            </td>
                            <td>
                                <% if(user_list[i].role===1) { %>
                                    <%= user_list[i].study_group_name %>
                                        <% } else { %>
                                            <select id="table_group_selected_<%=i%>"
                                                name="study_group_id">
                                                <option value="<%= user_list[i].study_group_id %>">
                                                    <%= user_list[i].study_group_name%>
                                                </option>
                                            </select>
                                            <% } %>
                            </td>
                            <td>
                                <% if(user_list[i].role===1) { %>
                                    <%= user_list[i].role_description %>
                                        <% } else { %>
                                            <select name="role">
                                                <option value="<%= user_list[i].role %>">
                                                    <%= user_list[i].role_description %>
                                                </option>
                                                <% if (role_list.length) { for(let i=0; i < role_list.length; i++) { %>
                                                    <option value="<%= role_list[i].id %>">
                                                        <%= role_list[i].description %>
                                                    </option>
                                                    <% } } %>
                                            </select>
                                            <% } %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <div id="institution_block">
            <h1 id="register">Add New Educational Institution</h1>
            <form id="add_institution">
                <input class="text" type="text" name="institution" placeholder="Institution name" size="60" required />
                <input class="button" id="add-institution-button" type="submit" value="Add" />
            </form>
            <hr>
            <div class="buttons">
                <button class="button" id="institution_delete_button">Delete selected row</button>
            </div>
            <table id="institution">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Subgroups</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < institution_list.length; i++) { %>
                        <tr>
                            <td>
                                <%= i + 1%>
                            </td>
                            <td>
                                <%= institution_list[i].id %>
                            </td>
                            <td>
                                <%= institution_list[i].name %>
                            </td>
                            <td>
                                <%= institution_list[i].num_group %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>