<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/admin.css" rel="stylesheet" type="text/css" />
    <!--DataTable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <title>Admin</title>
</head>

<body>
    <div id="header">
        <p>Bienvenido <%= user %>
        </p>
        <form id="logout" action="/logout" method="POST">
            <input type="submit" value="salir" />
        </form>
    </div>
    <div>
        <div id="user_block">
            <form id="add_user" action="/new" method="POST">
                <h1 id="register">Add new user</h1>
                <input type="text" name="username" placeholder="Username" size="30" required />
                <input type="text" name="name" placeholder="Name" size="30" required />
                <input type="text" name="surname" placeholder="Surname" size="40" required />
                <input type="number" name="age" placeholder="Age" min="1" max="150" required />
                <input id="pass" type="password" name="pass" placeholder="Password" size="40" required />
                <select name="institution" required>
                    <% if(institution_list.length){ for(var i=0; i < institution_list.length; i++) { %>
                        <% if(institution_list[i].name !=="admin" ) {%>
                            <option value="<%= institution_list[i].id %>">
                                <%=institution_list[i].name %>
                            </option>
                            <% } }%>
                                <% } %>
                </select>
                <input id="pass2" type="password" name="pass2" hidden size="40" />
                <input type="text" name="admin" value="true" hidden>
                <input type="submit" value="ADD" />
            </form>
            <button id="user_delete_button">Delete selected row</button>
            <button id="user_update_button">Update</button>
            <table id="user">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Age</th>
                        <th scope="col">Educational institution</th>
                        <th scope="col">Role</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < user_list.length; i++) { %>
                        <tr>
                            <td>
                                <%= i + 1%>
                            </td>
                            <td>
                                <%= user_list[i].username%>
                            </td>
                            <td id="username" <% if(user_list[i].name==="admin" ) {%> contenteditable="false" <% } else
                                    {%> contenteditable="true" <%}%> >
                                        <%= user_list[i].name%>
                            </td>
                            <td <% if(user_list[i].name==="admin" ) {%> contenteditable="false" <% } else {%>
                                    contenteditable="true" <%}%> >
                                        <%= user_list[i].surname %>
                            </td>
                            <td <% if(user_list[i].name !=="admin" ) { %> contenteditable="true" <% } %> >
                                    <% if(user_list[i].name==="admin" ) { %>
                                        <%= user_list[i].age %>
                                            <% } else {%>
                                                <input id="age" type="number" name="age"
                                                    placeholder="<%= user_list[i].age%>" value="<%= user_list[i].age%>"
                                                    min="1" max="150" required />
                                                <% } %>

                            </td>
                            <td <% if(user_list[i].name !=="admin" ) {%> contenteditable="true" <% } %> >
                                    <% if(user_list[i].name==="admin" ) { %>
                                        <%= user_list[i].institution %>
                                            <% } else { %>
                                                <select name="institution" required>
                                                    <option value="<%= user_list[i].institution_id%>">
                                                        <%= user_list[i].institution%>
                                                    </option>
                                                    <% if(institution_list.length){ for(var j=0; j <
                                                        institution_list.length; j++) { %>
                                                        <option value="<%= institution_list[j].id %>">
                                                            <%=institution_list[j].name %>
                                                        </option>
                                                        <% } } }%>
                                                </select>
                            </td>
                            <% if(user_list[i].name==="admin" ) { %>
                                <td>
                                    <%= user_list[i].role_description%>
                                </td>
                                <% } else { %>
                                    <td contenteditable="true">
                                        <select name="role" required>
                                            <option value="<%= user_list[i].role %>">
                                                <%= user_list[i].role_description %>
                                            </option>
                                            <% if (role_list.length) { for(let i=0; i < role_list.length; i++) { %>
                                                <option value="<%= role_list[i].id %>">
                                                    <%= role_list[i].description %>
                                                </option>
                                                <% } } %>
                                        </select>
                                    </td>
                                    <% } %>

                                        </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <div id="board_block">
            <h1 id="register">List of boards</h1>
            <table id="board">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">taken</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < board_list.length; i++) { %>
                        <tr>
                            <td>
                                <%= i + 1%>
                            </td>
                            <td>
                                <%= board_list[i].id%>
                            </td>
                            <td>
                                <%= board_list[i].taken%>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <div id="institution_block">
            <form id="add_institution" action="/new_institution" method="POST">
                <h1 id="register">Add New Educational Institution</h1>
                <input type="text" name="institution" placeholder="Institution name" size="60" required />
                <input type="submit" value="ADD" />
            </form>
            <button id="institution_delete_button">Delete selected row</button>
            <table id="institution">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Subgroups</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < institution_list.length; i++) { %>
                        <tr>
                            <td>
                                <%= i + 1%>
                            </td>
                            <td>
                                <%= institution_list[i].id %>
                            </td>
                            <td>
                                <%= institution_list[i].name %>
                            </td>
                            <td>
                                <%= institution_list[i].num_class %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <!--DataTable-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script type="module">
        $(document).ready(function () {
            let username = "";
            let name = "";
            let surname = "";
            let age = 0;
            let institution = "";
            let role = "";

            let userTable = $('#user').DataTable({
                order: [[0, 'asc']],
                lengthMenu: [
                    [5, 10, 25, -1],
                    [5, 10, 25, 'All'],
                ],
            });

            $('#user tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    userTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }

                username = $(this).find('td:eq(1)').text().trim();
                name = $(this).find('td:eq(2)').text().trim();
                surname = $(this).find('td:eq(3)').text().trim();
                age = $(this).find('input:eq(0)').val();
                institution = $(this).find('select:eq(0)').val();
                role = $(this).find('select:eq(1)').val();

            });

            $('#user_delete_button').click(function () {
                // Send POST request to server
                $.ajax({
                    url: '/delete_user',
                    method: 'POST',
                    data: { username: username },
                    success: function (response) {
                        // Handle successful response from server
                        //window.alert(response.message);
                    },
                    error: function (xhr, status, error) {
                        // Handle error from server
                        console.log(error);
                    }
                });
            });

            $('#user_update_button').click(function () {
                // Send POST request to server
                if (age > 150) {
                    age = 150;
                }
                $.ajax({
                    url: '/update_user',
                    method: 'POST',
                    data: { username: username, name: name, surname: surname, age: age, institution: institution, role: role },
                    success: function (response) {
                        // Handle successful response from server
                        //window.alert(response.message);
                    },
                    error: function (xhr, status, error) {
                        // Handle error from server
                        console.log(error);
                    }
                });
            });

        });

        $(document).ready(function () {
            $('#board').DataTable({
                order: [[0, 'asc']],
                lengthMenu: [
                    [5, 10, 25, -1],
                    [5, 10, 25, 'All'],
                ],
            });
        });

        $(document).ready(function () {
            let selectedColumnValue = "";
            let institutionTable = $('#institution').DataTable({
                order: [[0, 'asc']],
                lengthMenu: [
                    [5, 10, 25, -1],
                    [5, 10, 25, 'All'],
                ],
            });

            $('#institution tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    institutionTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }

                selectedColumnValue = $(this).find('td:eq(1)').text();

            });

            $('#institution_delete_button').click(function () {
                // Send POST request to server
                $.ajax({
                    url: '/delete_institution',  // Replace with your server-side endpoint URL
                    method: 'POST',
                    data: { institution_id: selectedColumnValue },  // Replace with your data
                    success: function (response) {
                        // Handle successful response from server
                        //window.alert(response.message);
                    },
                    error: function (xhr, status, error) {
                        // Handle error from server
                        console.log(error);
                    }
                });
            });

        });

        var passInput = document.getElementById('pass');
        var pass2Input = document.getElementById('pass2');

        passInput.addEventListener('input', function () {
            pass2Input.value = passInput.value;
        });

        $(document).ajaxStop(function () {
            window.location.reload();
        });
    </script>
</body>

</html>