<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/admin.css" rel="stylesheet" type="text/css" />
    <!--DataTable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <title>Admin</title>
</head>

<body>
    <div id="header">
        <p>Bienvenido <%= user %>
        </p>
        <form id="logout" action="/logout" method="POST">
            <input type="submit" value="salir" />
        </form>
    </div>
    <div>
        <div id="user_block">
            <h1 id="register">Add new user</h1>
            <form id="add_user" action="/new" method="POST">
                <input type="text" name="username" placeholder="Username" size="30" required />
                <input type="text" name="name" placeholder="Name" size="30" required />
                <input type="text" name="surname" placeholder="Surname" size="40" required />
                <input type="number" name="age" placeholder="Age" min="1" max="150" required />
                <input id="pass" type="password" name="pass" placeholder="Password" size="40" required />
                <select name="group">
                    <%for(var i=0; i < group_list.length; i++) { %>
                        <option value="<%= group_list[i].id %>">
                            <%=group_list[i].name %>
                        </option>
                        <% }%>
                </select>
                <input name="institution" value="<%=user_list[0].institution_id%>" hidden>
                <input id="pass2" type="password" name="pass2" hidden size="40" />
                <input type="text" name="admin" value="true" hidden>
                <input type="submit" value="ADD" />
            </form>
            <button id="user_delete_button">Delete selected row</button>
            <button id="user_update_button">Update</button>
            <table id="user">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Age</th>
                        <th scope="col">Educational institution</th>
                        <th scope="col">Group</th>
                        <th scope="col">Role</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < user_list.length; i++) { %>
                        <tr>
                            <td>
                                <%= i + 1%>
                            </td>
                            <td>
                                <%= user_list[i].username%>
                            </td>
                            <td <% if(user_list[i].role===2) {%> contenteditable="false" <% } else {%>
                                    contenteditable="true" <%}%> >
                                        <%= user_list[i].name%>
                            </td>
                            <td <% if(user_list[i].role===2) {%> contenteditable="false" <% } else {%>
                                    contenteditable="true" <%}%> >
                                        <%= user_list[i].surname %>
                            </td>
                            <td contenteditable="true">
                                <% if(user_list[i].role===2) { %>
                                    <%= user_list[i].age %>
                                        <% } else {%>
                                            <input id="age" type="number" name="age"
                                                placeholder="<%= user_list[i].age%>" value="<%= user_list[i].age%>"
                                                min="1" max="150" required />
                                            <% } %>
                            </td>
                            <td>
                                <%= user_list[i].institution_name %>
                            </td>
                            <td <% if(user_list[i].role !==2 ) {%> contenteditable="true" <% } %> >
                                    <% if(user_list[i].role===2 ) { %>
                                        <%= user_list[i].study_group_name %>
                                            <% } else { %>
                                                <select name="study_group">
                                                    <option value="<%= user_list[i].study_group_id%>">
                                                        <%= user_list[i].study_group_name%>
                                                    </option>
                                                    <% if(group_list.length){ for(var j=0; j <
                                                        group_list.length; j++) { %>
                                                        <option value="<%= group_list[j].id %>">
                                                            <%=group_list[j].name %>
                                                        </option>
                                                        <% } } }%>
                                                </select>
                            </td>
                            <td>
                                <%= user_list[i].role_description %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <div id="group_block">
            <h1 id="register">Add new group</h1>
            <form id="add_group" action="/new_group" method="POST">
                <input type="text" name="group" placeholder="Group name" size="60" required />
                <input type="text" name="institution_id" value="<%= user_list[0].institution_id%>" hidden>
                <input type="submit" value="ADD" />
            </form>
            <button id="group_delete_button">Delete selected row</button>
            <button id="group_update_button">Update</button>
            <table id="group">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < group_list.length; i++) { %>
                        <tr>
                            <td>
                                <%= i + 1%>
                            </td>
                            <td>
                                <%= group_list[i].id %>
                            </td>
                            <td>
                                <%= group_list[i].name %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <!--DataTable-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script type="module">
        $(document).ready(function () {
            let username = "";
            let name = "";
            let surname = "";
            let age = 0;
            let institution = "";
            let role = "";

            let userTable = $('#user').DataTable({
                order: [[0, 'asc']],
                lengthMenu: [
                    [5, 10, 25, -1],
                    [5, 10, 25, 'All'],
                ],
            });

            $('#user tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    userTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }

                username = $(this).find('td:eq(1)').text().trim();
                name = $(this).find('td:eq(2)').text().trim();
                surname = $(this).find('td:eq(3)').text().trim();
                age = $(this).find('input:eq(0)').val();
                institution = $(this).find('td:eq(5)').text().trim();
                role = $(this).find('td:eq(6)').text().trim();

            });

            $('#user_delete_button').click(function () {
                // Send POST request to server
                $.ajax({
                    url: '/delete_user',
                    method: 'POST',
                    data: { username: username, role: role },
                    success: function (response) {
                        // Handle successful response from server
                        //window.alert(response.message);
                    },
                    error: function (xhr, status, error) {
                        // Handle error from server
                        console.log(error);
                    }
                });
            });

            $('#user_update_button').click(function () {
                // Send POST request to server
                if (age > 150) {
                    age = 150;
                }
                $.ajax({
                    url: '/update_user',
                    method: 'POST',
                    data: { username: username, name: name, surname: surname, age: age, institution: institution, role: role },
                    success: function (response) {
                        // Handle successful response from server
                        //window.alert(response.message);
                    },
                    error: function (xhr, status, error) {
                        // Handle error from server
                        console.log(error);
                    }
                });
            });

        });

        $(document).ready(function () {
            let selectedColumnValue = "";
            let institutionTable = $('#group').DataTable({
                order: [[0, 'asc']],
                lengthMenu: [
                    [5, 10, 25, -1],
                    [5, 10, 25, 'All'],
                ],
            });

            $('#group tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    institutionTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }

                selectedColumnValue = $(this).find('td:eq(1)').text();

            });

            $('#group_delete_button').click(function () {
                // Send POST request to server
                $.ajax({
                    url: '/delete_group',  // Replace with your server-side endpoint URL
                    method: 'POST',
                    data: { group_id: selectedColumnValue },  // Replace with your data
                    success: function (response) {
                        // Handle successful response from server
                        //window.alert(response.message);
                    },
                    error: function (xhr, status, error) {
                        // Handle error from server
                        console.log(error);
                    }
                });
            });

        });

        var passInput = document.getElementById('pass');
        var pass2Input = document.getElementById('pass2');

        passInput.addEventListener('input', function () {
            pass2Input.value = passInput.value;
        });

        $(document).ajaxStop(function () {
            window.location.reload();
        });
    </script>
</body>

</html>