<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/admin.css" rel="stylesheet" type="text/css" />
    <!--DataTable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <title>Admin</title>
</head>

<body>
    <div id="header">
        <p>Bienvenido <%= user %>
        </p>
        <form id="logout" action="/logout" method="POST">
            <input id="log-out-button" class="button" type="submit" value="Log out" />
        </form>
    </div>
    <div>
        <div id="user_block">
            <h1 id="register">Add new user</h1>
            <form id="add_user">
                <input class="text" type="text" name="username" placeholder="Username" size="30" required />
                <input class="text" type="text" name="name" placeholder="Name" size="30" required />
                <input class="text" type="text" name="surname" placeholder="Surname" size="40" required />
                <input class="text" type="number" name="age" placeholder="Age" min="1" max="150" required />
                <input class="text" id="pass" type="password" name="pass" placeholder="Password" size="40" required />
                <select class="text" name="study_group_id" required>
                    <option disabled selected hidden>Select Group</option>
                    <%for(var i=0; i < group_list.length; i++) { %>
                        <option value="<%= group_list[i].id %>">
                            <%=group_list[i].name %>
                        </option>
                        <% }%>
                </select>
                <input name="institution" value="<%=user_list[0].institution_id%>" hidden>
                <input id="pass2" type="password" name="pass2" hidden size="40" />
                <input type="text" name="admin" value="true" hidden>
                <input class="button" id="add-user-button" type="submit" value="Add" />
            </form>
            <hr>
            <div class="buttons">
                <button class="button" id="user_delete_button">Delete selected row</button>
                <button class="button" id="user_update_button">Update</button>
            </div>
            <table id="user">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Age</th>
                        <th scope="col">Educational institution</th>
                        <th scope="col">Group</th>
                        <th scope="col">Role</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < user_list.length; i++) { %>
                        <tr>
                            <td>
                                <%= i + 1 %>
                            </td>
                            <td>
                                <input type="text" name="username" value="<%= user_list[i].username %>" readonly>
                            </td>
                            <td>
                                <input type="text" name="name" value="<%= user_list[i].name %>" <%
                                    if(user_list[i].role===2) { %> readonly <% } %> >
                            </td>
                            <td>
                                <input type="text" name="surname" value="<%= user_list[i].surname %>" <%
                                    if(user_list[i].role===2) { %> readonly <% } %> >
                            </td>
                            <td>
                                <input type="number" name="age" value="<%= user_list[i].age %>" min="1" max="150" <%
                                    if(user_list[i].role===2) { %> readonly <% } %> />
                            </td>
                            <td>
                                <%= user_list[i].institution_name %>
                                    <input type="text" name="institution" value="<%= user_list[i].institution_id %> "
                                        hidden contenteditable="false">
                            </td>
                            <td>
                                <select name="study_group_id">
                                    <option value="<%= user_list[i].study_group_id%>">
                                        <%= user_list[i].study_group_name%>
                                    </option>
                                    <% if(group_list.length){ for(var j=0; j < group_list.length; j++) { %>
                                        <option value="<%= group_list[j].id %>">
                                            <%=group_list[j].name %>
                                        </option>
                                        <% } }%>
                                </select>
                            </td>
                            <td>
                                <%= user_list[i].role_description %>
                                    <input type="text" name="role" value="<%= user_list[i].role %>" hidden
                                        contenteditable="false">
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <div id="group_block">
            <h1 id="register">Add new group</h1>
            <form id="add_group">
                <input class="text" type="text" name="group" placeholder="Group name" size="60" required />
                <input class="text" type="text" name="institution_id" value="<%= user_list[0].institution_id%>" hidden>
                <input class="button" id="add-group-button" type="submit" value="Add" />
            </form>
            <hr>
            <div class="buttons">
                <button class="button" id="group_delete_button">Delete selected row</button>
                <button class="button" id="group_update_button">Update</button>
            </div>
            <table id="group">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < group_list.length; i++) { %>
                        <tr>
                            <td>
                                <%= i + 1%>
                            </td>
                            <td>
                                <%= group_list[i].id %>
                            </td>
                            <td>
                                <%= group_list[i].name %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <div>
            <h1>Data Análisis</h1>
        </div>
    </div>

    <script type="module">
        $(document).ready(function () {
            let selected_row_user = '';
            let selected_row_group = '';
            let userTable = $('#user').DataTable({
                order: [[0, 'asc']],
                lengthMenu: [
                    [5, 10, 25, -1],
                    [5, 10, 25, 'All'],
                ],
            });

            $('#user tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    userTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                selected_row_user = $(this).find('td:eq(0)').text().trim();
            });

            $('#user_delete_button').click(function () {
                // Obtén la segunda fila de userTable
                const selectedRow = userTable.row(selected_row_user - 1).node();
                // Buscar los elementos <input> y <select> solo dentro de la fila seleccionada
                const inputsAndSelects = $(selectedRow).find('input, select');
                // Serializa los valores de los elementos seleccionados
                const data_aux = inputsAndSelects.serialize();
                const data = data_aux + "&admin=false";
                // Send POST request to server
                $.ajax({
                    url: '/delete_user',
                    method: 'POST',
                    data: { data: data },
                    success: function (response) {
                        // Handle successful response from server
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        // Handle error from server
                        alert(xhr.responseText);
                    }
                });
            });

            $('#user_update_button').click(function () {
                // Obtén la segunda fila de userTable
                const selectedRow = userTable.row(selected_row_user - 1).node();
                // Buscar los elementos <input> y <select> solo dentro de la fila seleccionada
                const inputsAndSelects = $(selectedRow).find('input, select');
                // Serializa los valores de los elementos seleccionados
                const data = inputsAndSelects.serialize();
                console.log(data);
                // Send POST request to server
                $.ajax({
                    url: '/update_user',
                    method: 'POST',
                    data: { data: data },
                    success: function (response) {
                        // Handle successful response from server
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        // Handle error from server
                        alert(xhr.responseText);
                    }
                });
            });

            $('#add_user').submit(function (event) {
                // Evitar envío convencional del formulario
                event.preventDefault();
                // Obtener los datos del formulario
                const formData = $(this).serialize();
                // Realizar la solicitud Ajax
                $.ajax({
                    type: 'POST',
                    url: '/new',
                    data: { data: formData },
                    success: function (response) {
                        // Manejar la respuesta del servidor
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        // Manejar errores de la solicitud
                        alert(xhr.responseText);
                    }
                });
            });

            //Group Board Info
            let groupTable = $('#group').DataTable({
                order: [[0, 'asc']],
                lengthMenu: [
                    [5, 10, 25, -1],
                    [5, 10, 25, 'All'],
                ],
            });

            $('#group tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    groupTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                selected_row_group = $(this).find('td:eq(1)').text();
            });

            $('#group_delete_button').click(function () {
                // Send POST request to server
                $.ajax({
                    url: '/delete_group',  // Replace with your server-side endpoint URL
                    method: 'POST',
                    data: { group_id: selected_row_group },  // Replace with your data
                    success: function (response) {
                        // Handle successful response from server
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        // Handle error from server
                        alert(xhr.responseText);
                    }
                });
            });

            $('#add_group').submit(function (event) {
                // Evitar envío convencional del formulario
                event.preventDefault();

                // Obtener los datos del formulario
                let formData = $(this).serialize();
                console.log(formData);

                // Realizar la solicitud Ajax
                $.ajax({
                    type: 'POST',
                    url: '/new_group',
                    data: { data: formData },
                    success: function (response) {
                        // Manejar la respuesta del servidor
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        // Manejar errores de la solicitud
                        alert(xhr.responseText);
                    }
                });
            });
        });

        var passInput = document.getElementById('pass');
        var pass2Input = document.getElementById('pass2');

        passInput.addEventListener('input', function () {
            pass2Input.value = passInput.value;
        });

    </script>
</body>

</html>